{erl_opts, [
	fail_on_warning,
	bin_opt_info,
	debug_info
]}.

{clean_files, [
	"deps/*",
	"*.eunit",
	"ebin/*.beam",
	"doc/*.html", "doc/*.edoc-info", "doc/*.css", "doc/*.png",
	"test/ct/logs/*", "test/ct/*.beam"
]}.

{eunit_opts, [
%	verbose,
	{report, {eunit_surefire, [{dir, "."}]}}
]}.

{eunit_compile_opts, [
	export_all
]}.

%{cover_enabled, true}. % @todo enable cover once "export_all vs cover_enabled" is fixed

{deps, [
	{deck36_common, ".*", {git, "https://github.com/DECK36/deck36_common.git"}},
	{meck, ".*", {git, "https://github.com/eproxus/meck.git"}}
]}.

{deps_dir, "deps"}.

{ct_dir, "test/ct"}.
{ct_log_dir, "test/ct/logs"}.
{ct_extra_params, "-args_file test/ct/config/vm.args -pa test/ct"}.
{ct_use_short_names, true}.
