{erl_opts, [
	fail_on_warning,
	bin_opt_info,
	debug_info
]}.

{clean_files, [
	"erl_crash.dump",
	"*.eunit", "ebin/*", ".eunit/",
	"doc/*.html", "doc/*.edoc-info", "doc/*.css", "doc/*.png", "doc/edoc-info",
	"test/ct/logs/*", "test/ct/*.beam", "test/ct/helpers/*.beam",
	"deps/*"
]}.

{eunit_opts, [
%	verbose,
	{report, {eunit_surefire, [{dir, "."}]}}
]}.

{eunit_compile_opts, [
	export_all
]}.

{cover_enabled, true}.

{deps, [
	{deck36_common, "1.*", {git, "https://github.com/DECK36/deck36_common.git", {branch, "1.x"}}}
]}.

{deps_dir, "deps"}.

{ct_dir, "test/ct"}.
{ct_log_dir, "test/ct/logs"}.
{ct_extra_params, "-args_file test/ct/config/vm.args -pa test/ct"}.
{ct_use_short_names, true}.
